.insight{
    line-height: 1.55;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-top: 32px ;
    padding-bottom: 32px ;
}
.container img{
    margin: .5rem .5rem 0rem .5rem;
}
.container{
    display: flex;
    justify-content: center; 
    gap: 1rem; 
}
.col-one{
    height: 20rem;
    background: #FFF6F6;
    /* background: red; */
    width: 35rem;
    border-radius: 1.5rem;
}
.col-two{
    height: 20rem;
    background: #F4FFF4;
    width: 35rem;
    border-radius: 1.5rem;
}
.bullet{
    margin-left: 1rem;
    color: inherit;
    font-size: 16px;
    line-height: 1.55;
    text-decoration: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
/* .emoji{
    margin: .5rem 0rem 0rem .5rem;
} */
.offer{
    margin: 1rem 0rem 1rem 1rem;
    font-weight: 700;
}
.promo-message{
    /* margin-top: 11100rem; */
    text-align: center;
    margin: 5rem 0 2rem 0;
    line-height: 1.55;
    text-decoration: none;
  text-align: center;
  font-size: 36px;
  margin-bottom: 6rem;
  font-weight: 700;
  }