.portfolio-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.55;
}
.portfolio-message {
  text-align: center;
  color: #9b1dff;
  line-height: 1.55;
  margin-top: 10px;
  margin-bottom: 10px;
}
.projects{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
